{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ganache - Request Upgrade{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Request Upgrade</h1>
</div>
<div class="col-md-4">

<form action = "{{url_for('superuser.upgrade')}}" method = post>
           {{ form.csrf_token }}
    {{ form.name }}
         <fieldset>

            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>

            	{{ buttonData['upgradeToCreaterLabel'] }}
            	{{form.upgradeToCreater}}
               <br>

            	{{ buttonData['upgradeToSuperUserLabel'] }}
            	{{form.upgradeToSuperUser}}

            </div>
            
         </fieldset>
      </form>
      

</div>
{% endblock %}